<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shift Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
</head>
<body>
    <% include Partials/dashboard-banner %>
    <br>
    <div class="tabs-panel">
        <aside class="menu">
            <p class="menu-label">
                Information
            </p>
            <ul class="menu-list">
                <li><a>Info</a></li>
                <li><a href="/dashboard/<%= guild.id %>/bot">Bot</a></li>
            </ul>
            <p class="menu-label">
                Administration
            </p>
            <ul class="menu-list">
                <li><a class="is-active">Strikes</a></li>
                <li><a>Kick</a></li>
                <li><a>Ban</a></li>
                <li><a>Mute</a></li>
            </ul>
            <p class="menu-label">
                Settings
            </p>
            <ul class="menu-list">
                <li><a>Welcome Mesages</a></li>
                <li><a>Leave Messages</a></li>
                <li><a>Logging</a></li>
            </ul>
            <br>
            <p class="has-text-centered">The dashboard is still in Beta, expect bugs and slow performance. <a href="">Want to report said bugs?</a></p>
        </aside>
    </div>
    <br>
    <div class="has-text-centered">
        <br>
        <% Object.keys(guilds.get(req.params.serverID).strikes).forEach(userID => { %>
            <% Object.keys(guilds.get(req.params.serverID).strikes[userID]).forEach(strike => { %>
                <div class="box container" style="width:600px;">
                    <h2 class="title is-2"><img src="<%= client.users.get(userID).avatarURL %>" class="strike-user" style="width:32px; border-radius:50%;"> <%= client.users.get(userID).username %></h2>
                    <p class="subtitle"><strong>Reason:</strong> <%= guilds.get(req.params.serverID).strikes[userID][strike].reason %>
                    <strong>Striked by:</strong> <%= client.users.get(guilds.get(req.params.serverID).strikes[userID][strike].strikedBy.replace('<@', '').replace('>', '')).tag %></p>
                </div>
            <% }) %>
        <% }) %>
    </div>
</body>
</html>